---
layout: default
pagination: 
  enabled: true
---

<div class="home">

  <h1 class="post-list-header">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li id="content-wrapper">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta"><p>{{ post.date | date: date_format }}</p></span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        {% if post.description %}
          {{ post.description }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>